.start_screen {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100vw;

    .background_start_img {
        width: 100vw;
        height: 100vh;
    }

    @media (max-width: 960px) {
        overflow: hidden;
    }
}

.start_label {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 80px;
    display: flex;
    justify-content: center;
    align-items: center;

    .start_label_img {
        width: 350px;
        height: auto;

        &:hover {
            cursor: pointer;
            filter: brightness(1.25);
        }
    }
}

@media (max-width: 570px) {
    .background_start_img {
        object-fit: cover;
    }

    .start_label_img {
        width: 250px !important;
    }

}