.start_screen {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    object-fit: contain;

    img {
        width: 100vw;
        height: 100vh;
    }
    @media (max-width: 960px) {
        overflow: hidden;

        
    }
}

.start_label {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 80px;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: 350px;
        height: auto;

        &:hover {
            cursor: pointer;
            filter: brightness(1.25);
        }
    }
}