body,
html {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

@media (max-width: 720px) {
    .hide_mobile {
        display: none;
    }
}

